<div class="container">
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <form class="form-signin" role="form">
                <h2 class="form-signin-heading">로그인</h2>
                <a class="btn btn-block btn-social btn-facebook">
                    <i class="fa fa-facebook"></i> 페이스북으로 로그인
                </a>
                <a class="btn btn-block btn-social btn-twitter">
                    <i class="fa fa-twitter"></i> 트위터로 로그인
                </a>
                <a class="btn btn-block btn-social btn-google-plus">
                    <i class="fa fa-google-plus"></i> 구글+로 로그인
                </a>
                <a class="btn btn-block btn-social btn-github" ng-click="testlogin()">
                    <i class="fa fa-wrench"></i> 테스트 로그인
                </a>
            </form>
        </div>
        <div class="col-sm-3"></div>
    </div>
</div>
